@media screen and (max-width:700px) {
    header .container-header {
        display: block;
        height: auto;
    }
    .container {
        margin: 15px !important;
        padding: 0;
    }
    .filme-principal {
        height: 350px;
        background-position: top;
    }
    .filme-principal .container {
        width: 90%;
        font-size: 0.8rem;
    }
    .filme-principal .titulo {
        font-size: 30px;
    }
    .botoes {
        display: flex;
        align-items: center;
    }
    .botao {
        margin-top: 5px;
        width: 300px;
        padding: 15px 20px;
        font-size: 10px;
    }
    .header-right {
        display: none;
    }

    /* .item {
        width: 150px !important;
    }

    .box-filme {
        height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
    } */

    .modal-content {
        width: 95%;
        margin: auto;
    }
    .modal-body .filme-principal {
        height: 300px;
    }
    .modal-body .btnClose {
        font-size: 30px;
        margin-top: 10px;
        left: 90%;
    }
    .owl-carousel {
        margin: auto;
    }

    .filme-descricao .filme-informacao {
        flex-direction: column !important;
    }

    .filme-episodios {
        padding: 10px 10px;
    }

    .episodio .epi-3-1 {
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    .episodio .epi-1, .episodio .epi-3 .epi-3-2, .opcoes .view, .opcoes .date-view {
        display: none;
    }

    .footer {
        margin-left: 0px !important;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}